.outer-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items:center;
  min-height:100vh;
  margin-top:-10em;

}

.outer-box{
    width:500px;
    display: flex;
    flex-direction: column;
    border:1px solid #bfbfbf;
    margin:auto;
}

.header{
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background: #d9d9d9;
    font-size:24px;
    font-weight: 400;
}

.inner-box{
    width:400px;
    display: flex;
    padding:30px; 
    margin:50px; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    background: white;
    font-size: 16px;
}

#userinput{
    width:300px;
    font-size: 16px;
}

#password{
    width:300px;
    font-size: 16px;
}

#submit-button{
    background: DodgerBlue;
    border:none;
    color:white;
    width:100px;
    font-size: 16px;
    margin-top:10px;
    padding:10px;
}

