.order-wrapper{
    width:80%;
    margin:10px auto 5px auto;
    font-size: 16px;
}

.orderlist-wrapper{
  width:80%;
  margin:40px auto 5px auto;
  font-size: 16px;
}
/*background: #e6e6e6;*/

.orderdetail-wrapper{
    width:80%;
    margin:20px auto auto auto;
    font-size: 16px;
    height:650px; 
    padding:10px;
}

.orderdetail-header{
    width:100%;
    margin:5px auto 5px auto;
    height:50px;
    background: transparent;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding:0px 5px 5px 0px;
}

.input_spinner{
    width:120px;
    text-align: center;
}

.remove_btn {
    background-color: transparent; 
    border: #a6a6a6 1px solid; 
    color: DodgerBlue; 
    margin-left: 25px; 
    font-size: 20px; 
    cursor: pointer; 
  }

  .add_cart_btn{
    background-color: DodgerBlue; 
    border:none; 
    color:white; 
    font-size: 16px; 
    cursor: pointer; 
  }

  .add_cart_btn:hover{
    background-color: green;  
  }
  
 
  .remove_btn:hover {
    color: green;
  }

  .table_cell{
    padding:7px !important;
    vertical-align:center;
    text-align: center;
  }

  .table_row{
    padding:0px;
    margin:0px;
}



  #page-numbers {
    list-style: none;
    display: flex;
    justify-content: right;
    width:100%;
    margin:10px auto auto auto;
  }
  
  #page-numbers > li {
    margin-right: 0.3em;
    color: white;
    background: DodgerBlue;
    border: #a6a6a6 1px solid;
    padding:3px 7px 3px 7px;
    user-select: none;
    cursor: pointer;
    font-size:14px;
  }

  #tab_menu{
    font-size:16px;
  }

  .orderdetail-footer{
    width:80%;
    margin:20px auto 0px auto;
    height:50px;
    background: transparent;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding:5px 5px 5px 0px;
}

.update_cart_btn{
  background-color: green; 
  border:none; 
  color:white; 
  font-size: 16px; 
  cursor: pointer; 
}

#table-cart td,
#table-cart th
{
  border:1px solid #8c8c8c;
}

#table-order td,
#table-order th
{
  border:none;
  outline-color:none;
  padding: 0px;
  margin:0px;
}

.th-label{
  background:#d9d9d9;
  padding : 10px 20px 10px 20px;
}

.order-filter{
  width:200px;
  height:50px;
  margin:0px auto 20px auto;
  padding:5px;
}




  

  

  